{deps, [
	{cowlib, {git, "https://github.com/ninenines/cowlib", {tag, "2.6.0"}}},
	{gun, {git, "https://github.com/ninenines/gun", {tag, "1.3.0"}}}
]}.
{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info,
            warn_export_all,
            warn_unused_import]}.

{profiles,
    [{test,
        [{deps,
            [{meck, "0.8.13"}, % hex
             {emqx, {git, "https://github.com/emqx/emqx", {branch, "master"}}}, % git
             {emqx_ct_helpers, {git, "https://github.com/emqx/emqx-ct-helpers", {tag, "1.2.1"}}}
            ]}
        ]}
    ]}.

{cover_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{dialyzer_base_plt_apps,
 [kernel,
  stdlib,
  erts,
  sasl,
  ssl,
  syntax_tools,
  compiler,
  crypto]}.

{pre_hooks, [ {"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               compile, "./pre-compile"}
            , {"win32", compile, "escript.exe pre-compile"}]}.


