{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info,
            warn_export_all,
            warn_unused_import]}.

{deps, [{gun, "1.3.0"},
        {getopt, "1.0.1"}]}.

{profiles,
    [{test,
        [{deps,
            [{meck, "0.8.13"}, % hex
             {emqx, {git, "https://github.com/emqx/emqx", {branch, "master"}}}, % git
             {emqx_ct_helpers, {git, "https://github.com/emqx/emqx-ct-helpers", {tag, "1.2.1"}}}
            ]},
         {erl_opts, [debug_info]}
        ]}
    ]}.

{cover_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{dialyzer_base_plt_apps,
 [kernel,
  stdlib,
  erts,
  sasl,
  ssl,
  syntax_tools,
  compiler,
  crypto]}.

{escript_name, emqtt_cli}.
{escript_main_app, emqtt}.
{escript_emu_args, "%%! -smp true +K true +A 16 +P 200000 -env ERL_MAX_PORTS 100000 -env ERTS_MAX_PORTS 100000\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.
{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/emqtt_cli\" ./emqtt_cli"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ emqtt_cli* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.


