{deps, [{gun, "1.3.0"}]}.
{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info,
            warn_export_all,
            warn_unused_import]}.

{profiles,
    [{test,
        [{deps,
            [{meck, "0.8.13"}, % hex
             {emqx_ct_helpers, "1.1.4"}, % hex
             {emqx, {git, "https://github.com/emqx/emqx", {branch, "master"}}} % git
            ]}
        ]}
    ]}.

{cover_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{dialyzer_base_plt_apps,
 [kernel,
  stdlib,
  erts,
  sasl,
  ssl,
  syntax_tools,
  compiler,
  crypto]}.

{pre_hooks, [ {"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               compile, "./pre-compile"}
            , {"win32", compile, "escript.exe pre-compile"}]}.


