name: Run test case

on:
    push:
    pull_request:
    release:
        types:
            - published
            - prereleased

jobs:

    run_test_case:

        runs-on: ubuntu-latest
        strategy:
            matrix:
                builder:
                  - 5.0-26
                os:
                  - ubuntu20.04
                otp:
                  - 24.3.4.2-1
#                  - 25.1.2-2
                elixir:
                  - 1.13.4

        container: "ghcr.io/emqx/emqx-builder/${{ matrix.builder }}:${{ matrix.elixir }}-${{ matrix.otp }}-${{ matrix.os }}"

        steps:
        - name: Checkout
          uses: actions/checkout@v3
          with:
            submodules: recursive
        - name: work around https://github.com/actions/checkout/issues/766
          run: git config --global --add safe.directory "${GITHUB_WORKSPACE}"
        - name: Run tests
          run: |
            set -e
            make eunit
            make ct
            make cover
            # @TODO rebar3 tar does not include appup of dep apps
            # make relup-test
        - uses: actions/upload-artifact@v3
          if: always()
          with:
            name: logs
            path: _build/test/logs
        - uses: actions/upload-artifact@v3
          with:
            name: cover
            path: _build/test/cover
